@import "tailwindcss";

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #000000e1;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 8px;
}

::-webkit-scrollbar-corner {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: #5a5a5ac6;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #878787c6;
}

body {
	min-width: 700px;
	min-height: 100vh;
	width: 100vw;
	height: 100vh;
	background-image: url('./assets/golf-bg.jpg');
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	color: #05df72;
	font-size: 14px;
	/* font-size: 18px; */
    /* line-height: 1.3333; */
}

#app {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}