@import "tailwindcss";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ffa600c6;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: orange;
}